/* div {
    background-color: #404040;
    width: 200px;
}

span {
    background-color: #ff0000;
    width: 200px;
}


.div1 {
    background-color: #404040;
    width: 200px;
}

.div2 {
    background-color: #ff0000;
    width: 200px;
} */

/* .span1 {
    background-color: #404040;
    display: inline-block;
   width: 200px;
}

.span2 {
    background-color: #ff0000;
    display: inline-block;
   width: 200px;
} */






